* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fffffe !important;
  color: #000000 !important;
  font-size: 1rem;
}

footer {
  background-color: #d3d3d3 !important;
  max-height: 100px !important;
  font-size: 0.6rem !important;
}

footer > div > p {
  font-size: 0.4rem !important;
  letter-spacing: 1px !important;
}

.nav-link {
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  color: #000000 !important;
}

.nav-link:hover {
  text-decoration: underline !important;
}

.section-grey {
  background-color: rgba(211, 211, 211, 0.75);
  border-radius: 15px;
}

.btn-primary {
  transition-duration: 0.4s !important;
  background-color: #baa360 !important;
  border: 1px solid #baa360 !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #baa360 !important;
  border: 1px solid #baa360 !important;
  box-shadow: none !important;
  outline: 0 !important;
}

.btn-primary:hover {
  background-color: #fffffe !important;
  color: #000000 !important;
  border: 2px solid #baa360 !important;
}

.contact-form {
  background-color: #d3d3d3;
  border-radius: 15px;
}

.booking-form {
  background-color: #d3d3d3;
  padding: 30px;
}

.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-paraContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.form-control:focus {
  border: 2px solid #baa360 !important;
  box-shadow: none !important;
  outline: 0 !important;
}

.overlay {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 50vh;
  width: 50vh;
  margin: auto;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
}

.card {
  max-width: 18rem;
  border-color: #baa360;
}

.blogg-pic {
  width: 100%;
  max-width: 345px;
  max-height: 166px;
}

.login-container {
  background: #d3d3d3;
  padding: 4px;
  border-radius: 15px;
  display: flex;
  justify-content: flex-end;
}

.username-input {
  background: #fff;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  border-radius: 15px;
  text-align: center;
}

.password-input {
  background: #fff;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  border-radius: 15px;
  text-align: center;
}

.succses-msg {
  color: green;
}

.test {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
  padding: 2px;
}

.line {
  display: flex;
  flex-direction: row;
}

.line > button {
  margin: 8px;
}
