* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-word;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fffffe !important;
  color: #000000 !important;
  font-size: 1rem;
}

#root {
  background-color: #baa360;
  overflow: auto;
}

header {
  background-color: #d3d3d3;
  margin-top: 5px;
}

.logo {
  width: 60px;
  height: auto;
}

#nav-container {
  flex-direction: column;
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
  outline: 0 !important;
}

.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:visited,
.navbar-toggler:focus {
  border: none !important;
  box-shadow: none !important;
  outline: 0 !important;
}

.nav-link {
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  color: #000000 !important;
}

.nav-link:hover {
  text-decoration: underline !important;
}

.main {
  background-color: #fffffe !important;
}

.main-image {
  background-image: url("../public/images/spacejoy-XpbtQfr9Skg-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

footer {
  background-color: #d3d3d3 !important;
  font-size: 1rem;
  margin-bottom: 5px;
}

footer > div > p {
  font-size: 0.8rem !important;
  letter-spacing: 1px !important;
}

.section-grey {
  background-color: rgba(211, 211, 211, 0.75);
  border-radius: 15px;
}

.btn-icon {
  background-color: transparent;
  border: none;
  outline: none;
}

.btn-primary {
  transition-duration: 0.4s !important;
  background-color: #baa360 !important;
  border: 1px solid #baa360 !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #baa360 !important;
  border: 1px solid #baa360 !important;
  box-shadow: none !important;
  outline: 0 !important;
}

.btn-primary:hover {
  background-color: #fffffe !important;
  color: #000000 !important;
  border: 2px solid #baa360 !important;
}

.btn-dark:hover {
  transition-duration: 0.4s !important;
  background-color: #fffffe !important;
  color: #000000 !important;
  border: 1px solid #000000 !important;
}

.contact-form {
  background-color: #d3d3d3;
  border-radius: 15px;
}

.form-control:focus {
  border: 2px solid #baa360 !important;
  box-shadow: none !important;
  outline: 0 !important;
}

.overlay {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 30vh;
  width: 50vh;
  margin: auto;
  background-color: rgba(211, 211, 211);
  border-radius: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
}

.card {
  max-width: 25rem;
  border-color: #baa360;
}

.card-img-top {
  max-width: 100%;
  height: auto;
  max-height: 15rem;
}

.login-container {
  background-color: #d3d3d3;
  border-radius: 5px;
}

.blogg-pic {
  border-radius: 5px;
  max-height: 25rem;
}

.succses-msg {
  color: green;
}

.test {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
  padding: 2px;
}

.line {
  display: flex;
  flex-direction: row;
}

.line > button {
  margin: 8px;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(211, 211, 211, 0.75);
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: black;
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  box-sizing: border-box;
  display: block;
}

.about-container {
  position: relative;
}

.about-image {
  max-width: 50rem;
}

@media only screen and (max-width: 767px) {
  #nav-container {
    flex-direction: row;
  }
  .about-image {
    max-width: 100%;
  }
}
