* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: #fffffe;
}

.btn-primary {
  transition-duration: 0.4s !important;
  background-color: #baa360 !important;
  border: 1px solid #baa360 !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #baa360 !important;
  border: 1px solid #baa360 !important;
  box-shadow: none !important;
  outline: 0 !important;
}

.btn-primary:hover {
  background-color: #fffffe !important;
  color: #000000 !important;
  border: 1px solid #baa360 !important;
}

.contact-form {
  background-color: #d3d3d3;
  border-radius: 15px;
}

.booking-form {
  background-color: #d3d3d3;
  padding: 30px;
}

.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-paraContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.blogg-pic {
  width: 100%;
  max-width: 345px;
  max-height: 166px;
  position: relative;
}
