* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fffffe !important;
  font-size: 1.2rem;
  font-weight: 400;
}

footer > ul > li > a:hover {
  text-shadow: -5px 5px 4px rgba(0, 0, 0, 0.25);
}
